<div
  class="group relative h-full w-full items-center justify-center overflow-hidden shadow-lg"
>
  <a href="#">
    <img
      [src]="product().image"
      alt=""
      class="absolute inset-0 h-full w-full object-cover shadow-none transition-all duration-500 group-hover:scale-125 group-hover:blur-sm"
    />
  </a>

  <div
    class="absolute bottom-0 flex h-5/6 w-full translate-y-full transform flex-col bg-white p-8 opacity-0 transition-all duration-500 group-hover:translate-y-0 group-hover:opacity-100 lg:h-2/5"
  >
    <div>
      <span class="text-base text-gray-600 md:text-xl">
        {{ product().name }} -
      </span>
      <span class="text-xs text-gray-600 md:text-sm">
        {{ product().description }}
      </span>
    </div>
    <div class="mt-8 flex w-full items-center justify-end">
      <div
        class="w-32 cursor-pointer rounded-lg bg-[#4A4A4A] py-1 text-center text-white transition-colors duration-300 hover:bg-slate-300 hover:text-black"
      >
        <span class="text-xs lg:text-sm">I WANT THIS</span>
      </div>
    </div>
  </div>
</div>
