<div class="w-screen">
  <div
    class="flex h-80 items-center justify-center bg-[url(/img/mountains.jpg)] shadow-lg"
  >
    test
  </div>

  <div class="my-8 flex flex-col items-center text-center">
    <span class="text-xl text-gray-600 md:text-4xl">Title Here(Room Name)</span>
  </div>

  <div class="flex w-full items-center justify-center">
    <div
      class="grid h-[40rem] w-10/12 grid-cols-2 gap-4 md:grid-cols-3 lg:h-[65rem] xl:w-9/12"
    >
      @for (product of products; track $index) {
        <div class="col-span-1 h-full bg-slate-500">
          <app-product-card [product]="product"></app-product-card>
        </div>
      }
    </div>
  </div>
</div>
