<div class="w-full">
  <div
    class="flex h-80 items-center justify-center bg-[url(/img/mountains.jpg)] shadow-lg"
  >
    test
  </div>

  <div class="my-8 flex flex-col items-center text-center">
    <span class="text-xl text-gray-600 md:text-4xl">Title Here(Room Name)</span>
  </div>

  <div class="flex items-center justify-center">
    <div class="w-8/12">
      <div
        class="grid w-full grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
      >
        @for (product of products; track $index) {
          <div class="col-span-1 h-96">
            <app-product-card [product]="product"></app-product-card>
          </div>
        }
      </div>
    </div>
  </div>
</div>
