<div class="h-16 w-full bg-[#f7f7f7]">
  <div
    class="mx-auto grid h-full max-w-screen-xl grid-cols-4 items-center justify-end px-4"
  >
    <div
      class="col-span-1 flex items-center justify-start text-white md:hidden"
    >
      <button
        class="transform text-gray-600 duration-200 hover:scale-150"
        (click)="onToggleMenu()"
      >
        <mat-icon
          class="cursor-pointer"
          matTooltip="Edit filter name."
          [svgIcon]="
            isMenuOpen ? 'heroicon_outline:x-mark' : 'heroicon_outline:bars-4'
          "
        />
      </button>
    </div>

    <div class="col-span-2 text-center md:col-span-1">LOGO HERE</div>
    <div class="col-span-3 hidden justify-end gap-4 md:flex">
      @for (item of items; track $index) {
        <div
          class="px-1 py-3 transition delay-500 duration-300 ease-in-out hover:border-b-2 focus:border-b-2"
          [class.border-b-2]="currentRoute === item.url"
        >
          <a class="font-thin" [routerLink]="item.url">{{ item.label }}</a>
        </div>
      }
    </div>
  </div>

  <div
    class="absolute z-50 min-h-screen w-full scale-100 transform bg-[#4A4A4A] text-white opacity-0 transition-all duration-300 ease-out"
    [class.opacity-100]="isMenuOpen"
    [class.scale-100]="isMenuOpen"
    [class.visible]="isMenuOpen"
    [class.invisible]="!isMenuOpen"
  >
    <div>
      <div class="h-full w-full items-center px-12 py-10 text-primary-900">
        @for (item of items; track $index) {
          <div
            class="py-4 text-xl transition delay-500 duration-300 ease-in-out"
          >
            <a [href]="item.url">{{ item.label }}</a>
          </div>
        }
      </div>
    </div>
  </div>
</div>
